footer{
    background-color: #45494e;
    padding: 60px 0 25px;
    .contact{
        padding: 0 0 40px;
        .img-wrapper{
            width: 100%;
        }
        .content{
            color: white;
            h3{
                font-weight: 100;
                font-size: 25px;
            }
            p{
                font-weight: 100;
                font-size: 17px;
            }
        }
    }
    .lower{
        p{
            color: white;
            font-weight: 100;
            font-size: 15px;
            padding-top: 30px;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin: 0;
            li{
                a{
                    text-decoration: none;
                    margin-right: 25px;
                    color: white;
                    font-weight: 100;
                    font-size: 15px;
                    padding-bottom: 8px;
                    transition: all .3s ease;
                    &:hover{
                        color: rgba(255, 255, 255, 0.6);
                        box-shadow: 0 2px 0 rgb(255 255 255 / 20%);
                    }
                }
            }
        }
    }
}
@media (max-width: 1199.98px) {
    footer .contact .content p{
        font-size: 15px;
    }
}
@media (max-width: 991.98px){
    footer .contact .content h3{
        font-size: 20px;
    }
    footer .contact .content p{
        font-size: 12px;
    }
    footer .lower ul li a{
        font-size: 12px;
    }
    footer .lower p{
        font-size: 12px;
    }
}
